[2018-02-06 02:02] senagbe opened #1 "Push"
When the app is in the foreground pushes should refresh the content when they come in. When the app is in the background, pushes should require interaction.

@dohaivu which events will cause a push?

[2018-02-06 02:26] dohaivu commented on #1
The server need to listen to zmq `rawtx` events, and then sending push notifications

[2018-02-13 10:53] dohaivu opened #3 "send transaction failed"
The issue that client can't send money, it's because `get unspent output` api from html-api returns wrong result.
When you run this, it returns a list of unspent outputs.
`curl https://api.htmlcoin.com/api/addrs/HhPiAWquxo7uq46qPCPBkTSnGG3ztmwUNC/utxo`

The mobile app will pick one of them to put in the `vin` of new transaction. In this case it will pick the first one with transaction id `ef45edec

[2018-02-13 12:24] lunamonkey commented on #3
Thank you

[2018-02-13 12:27] senagbe opened #4 "Play Service Upgrade handling"
In the event of the correct version of Play Services not being available or installed. The application should attempt upgrading or exit.

[2018-02-18 21:19] senagbe opened #5 "Translations"
Resources implementation
- [x] English
- [x] Chinese
- [x] Korean
- [x] German
- [x] Spanish
- [x] Portuguese
- [x] French
- [x] Danish

Enable in menu
- [x] English
- [x] Chinese
- [x] Korean
- [x] German
- [x] Spanish
- [x] Portuguese
- [x] French
- [x] Danish

[2018-02-19 11:51] vsabolc opened #6 "The application will crash on very first time starting - every next start is ok"
**Steps to reproduce:**
- Install the Android app from the store
- Tap on the Open button in the Store or visit the Home page of the device and tap on the displayed application icon
- On the very first application start after the install the application will crash.
- Close the error message
- Start again the app
- It will start without problem - no app crash - @senagbe please check

![crash1](http

[2018-02-19 14:47] vsabolc opened #7 "My Wallet shows the ballance with 8 decimals - on iOS there are no decimal values displayed if it is zero"
@senagbe
Steps to reproduce:
- Open the mobile apps (iOS and Android as well)
- Login
- Open the Wallet menu point
- Check the header
- On Android the AVAILABLE BALANCE has 8 zeros displayed (also this is displayed on other pages as well - example Transactions)
- iOS has displayed the value without the decimals (if the balance a whole number) or just with the needed number of the decimals and it d

[2018-02-19 14:51] vsabolc opened #8 "Android: The debug build does not allow to take screenshot"
@senagbe

Steps to reproduce:
- Install the debug build of the app
- Login
- Try to take screenshot of the app
- Error message appear and it is not possible to take screenshot
- App was installed on Sony Xperia X - Android 7.1.1

[2018-02-19 20:44] senagbe commented on #8
@vsabolc I have removed the debug download link as it isn't public.

[2018-02-21 01:40] senagbe commented on #8
@dohaivu please implement this to make Szabolcs' rigourous testing and reporting easier.

[2018-02-21 01:42] senagbe commented on #4
@dohaivu please implement

[2018-02-21 02:48] dohaivu opened #9 "Android : Store transaction history and balance locally"
Currently client does not store any data locally, so it's empty each time open it.
The app already stored contract locally, it's needed to extend to store history and balance

[2018-02-21 04:02] dohaivu commented on #4
@senagbe I added code to check Play Services version
I think it's not necessary because it does not use any Play service currently. It uses Firebase notification which does not depend on Play Services.

[2018-02-21 06:52] dohaivu commented on #3
- Get unspent outputs
`./htmlcoin-cli -rpcuser=user -rpcport=14889 getaddressutxos '{"addresses": ["HhPiAWquxo7uq46qPCPBkTSnGG3ztmwUNC"]}'`

[code]

- Get spent info
`./htmlcoin-cli -rpcuser=user -rpcport=14889 getspentinfo '{"txid": "ef45edecb5aa8f658ba70bffe8de704ac69fed72a0af9d9246506aea9d0d586a", "index": 0}'`

[code]
- Get transaction
`/htmlcoin-cli -rpcuser=user -rpcport=14889 getrawtransact

[2018-02-21 12:25] vsabolc opened #10 "It is possible to touch on the "enter pin" label on Login screen and it behaves like a button"
@senagbe

Steps to reproduce:
- Open the Android app
- Login
- Tap on the Home button
- Start again the app
- Tap on Login button
- There is a label/field/button under the PIN number field
- Tap on it
- Touch sound is played, like you have tapped on a button, also the color of the button was changed - it behaves totally like a button, but should not - it is a status message - it should not interac

[2018-02-21 14:36] vsabolc opened #11 "Tapped on Back button on the QR Scan page and incorrect page was displayed"
@senagbe

Steps to reproduce:
- Open the app
- Make sure you are on the Wallet tab
- Tap on the displayed QR code in the top right corner
- QR Code reader will appear
- Tap on the Back button in the top left corner
- Send page will be displayed
- This is not correct as the Wallet page should be displayed and not the Send after tap on the back button - back to the previous page and it was the Walle

[2018-02-21 14:41] vsabolc opened #12 "Suggestion: Add a section in the Profile - My Address"
@senagbe

A new option/page should be added on the Profile tab - called My Address

When the user opens this page, the users HTMLCOIN address should be displayed
Under the address there should be added some Share options, like copy, send on email, save locally...

Some empty space should be added and the QR code (equal to the HTMLCOIN address) should be displayed as well and under the same share o

[2018-02-21 15:35] vsabolc opened #13 "Navigation error"
@senagbe

Steps to reproduce:
- Open the Android application
- Login
- Open the Wallet tab
- Tap on any listed activity item
- Transaction detail screen will be displayed
- Tap on the Send menu
- Tap back on the Wallet menu
- The Wallet main page is visible and not the opened Transactions Detail screen what was open before navigate away,
- The Opened page should be displayed, not the main page eve

[2018-02-21 15:44] vsabolc opened #14 "I can send HTMLCOIN to myself"
@senagbe

Steps to reproduce:
- Open the app
- Login
- Open the Wallet page
- Tap and hold on your displayed address - address will be copied
- Tap on the Send tab
- Add Your copied address
- Add value and send
- The payment will be accepted and placed
- Go back to the Wallet page
- Unconfirmed transaction is displayed there
- After some time it will be confirmed and it was possible to send HTMLCO

[2018-02-22 08:14] longpham2310 commented on #7
@senagbe I think we should use the format like below:
1000
1000.1
1000.01
1000.001
1000.0001
1000.00001
1000.000001
We will support display maximum 6 digits in fraction.

[2018-02-22 11:27] dohaivu commented on #9
Realm database is implemented on Android.
Client will load data in local first

[2018-02-22 20:06] senagbe opened #15 "Mainnet build fails after addition of Realm dependencies"
Build using `gradlew clean assembleMainnet`

The following error will be reported.

[code]

[2018-02-22 21:50] senagbe commented on #14
@vsabolc I don't think this is an issue.

[2018-02-22 23:55] dohaivu commented on #15
`./gradlew clean :app:assembleMainnet` it works well on my machine

[code]

[2018-02-23 09:17] dohaivu commented on #3
It also has another issue, some transactions are missing. They are not returned when getting transactions of an address.
For example: these are missing from address `HhPiAWquxo7uq46qPCPBkTSnGG3ztmwUNC`

[code]

Get address info:
`curl https://api.htmlcoin.com/api/addr/HhPiAWquxo7uq46qPCPBkTSnGG3ztmwUNC`
[code]

[2018-02-23 09:36] #14 closed

[2018-02-23 10:00] vsabolc opened #16 "Android: The news page is displayed differently on iOS and on Android"
@senagbe

Steps to reproduce:
- Open the iOS and Android app
- Log in to both
- Tap on News
- Check the displayed News
- The title is bold on iOS, but on Android, it is not bold
- Scroll the content to the bottom
- On iOS, the email address has a link, on Android, it is displayed as a simple textual content

![onios1](https://user-images.githubusercontent.com/4669689/36588562-d4f440ca-1888-11e8-8a

[2018-02-23 10:09] vsabolc opened #17 "Android: If I set lower amount for the Transaction as the Transaction fee is, HTTP 400 Bad Request error appears"
@senagbe

Steps to reproduce:
- Open the Android app
- Log in
- Tap on Send
- Add an Address
- Add an Amount which is lower than the starting fee amount
- Set a Fee
- Tap on Send
- Add the Pin code
- Bad Request error appears

![badrequest](https://user-images.githubusercontent.com/4669689/36589009-2c26c3b2-188a-11e8-9b31-568d278e6076.jpg)

[2018-02-23 10:19] vsabolc commented on #8
Installed the app from GooglePlay - version 0.9.16 - Updated on 02/22/2018 and still cannot make screenshots - getting the same error.

[2018-02-23 10:52] vsabolc commented on #8
Installed mainnetDebug-0.9.16.apk. With that  version of the app, screenshots could be made.

[2018-02-23 11:00] dohaivu commented on #8
Yes, because I uploaded the release build to Play Store, not debug build :)

[2018-02-23 11:25] dohaivu commented on #7
Android: removed insignificant zero

@longpham2310 It's 8 digit decimal, not 6

[2018-02-23 12:33] vsabolc commented on #6
Tested on build 0.9.17 - there was no app crash on the application start.

[2018-02-23 12:47] vsabolc commented on #9
Killed the app and after killed the internet connections as well. Started the app and logged in - Store transaction and balance was displayed - OK.

[2018-02-23 12:52] senagbe commented on #4
@vsabolc in order to test this. Force quit the app and then downgrade Play Services. Then relaunch the app to see if the Play Services upgrade is handled correctly.

[2018-02-23 13:41] vsabolc commented on #1
It is working ok on Android

[2018-02-23 14:25] vsabolc commented on #4
I have tested on Samsung S4 and it worked with the fabric installed GooglePlay - nothing was asked, app worked fine, notifications arrived ok.

[2018-02-25 09:30] docloulou commented on #3
Hi, i can reproduce that kind of missing utxos when i send a transaction with /send POST and restarting my htmlcoin-api/node server few second after that. the transaction is sent but UTXO isnt updated.
Dev should reindex=1 after each restart server to prevent that kind of error.

[2018-02-27 08:24] dohaivu commented on #11
On Android, QR Code screen is managed and launched by Send fragment.
So clicking QR on Wallet, it will start Send fragment first, then open QR Code screen. Pressing `Back` it will return to Send fragment.

It's not an issue, that is the flow of Qtum. @senagbe please review and let me know.

[2018-02-27 10:05] dohaivu commented on #17
The amount is too small, so it's considered a dust, and it's rejected by network
Here is text from bitcoin, I can't find the value of the HTML network
[code]

[2018-03-01 01:00] senagbe commented on #17
@dohaivu did we figure out the dust value or do we need to get the info from @Bushstar

[2018-03-01 01:02] dohaivu commented on #17
Yes, I got dust values from @Bushstar

[2018-03-01 02:16] dohaivu commented on #17
SegWit dust = 294*minRelayTxFee/1000
Conventional dust = 546*minRelayTxFee/1000
minRelayTxFee can be changed by the miner but should default to 400000.
So SegWit dust would be 0.00117600
Conventional dust at default would be 0.00218400

[2018-03-01 08:54] dohaivu commented on #17
I displayed a error dialog if the amount is smaller than the default 0.00218400

[2018-03-02 00:43] senagbe commented on #11
@vsabolc and @dohaivu I am going to move this to suggestions. I don't think this modification is necessary now though it may be re-prioritised and scheduled later.

[2018-03-02 00:46] senagbe opened #18 "Pushy based Push for China and other non-Play Services areas and devices"
Pushy based Push implementation to allow notifications to work when Play Services are not available.

[2018-03-02 03:05] dohaivu commented on #3
It's fixed with new UTXOcache mandatory update

[2018-03-02 04:05] dohaivu opened #19 "Apply dark theme"
The design:
https://www.dropbox.com/sh/6rp87jrbukcnd73/AABI1Oh3fiTW6NhcSAVYbcSva?dl=0

[2018-03-02 06:23] vsabolc commented on #17
Tested. It works ok now. The error messages are displayed when they needed.

[2018-03-02 06:28] vsabolc commented on #10
Tested. There is no interaction with it anymore.

[2018-03-02 06:28] #10 closed

[2018-03-02 06:30] vsabolc commented on #16
Tested. The styling has been applied to Android, too.

[2018-03-02 06:30] #16 closed

[2018-03-02 06:51] vsabolc commented on #17
Tried different scenarios later and the error occurred again.

Amount: 1.25761356
Fee: 0.1 (set by the app)

After tapping on Send and entering the PIN, the Bad Request error pops up.

![data](https://user-images.githubusercontent.com/4669689/36886721-0547368c-1dee-11e8-9927-c648d02a7d79.png)

![error](https://user-images.githubusercontent.com/4669689/36886793-572545ac-1dee-11e8-9195-b4cebb4eba7a.

[2018-03-02 07:07] vsabolc commented on #7
The Balance is still not shown correctly under the Android app. I still have 8 decimals.

[2018-03-02 07:11] vsabolc commented on #3
@senagbe Need more info on this how to retest. Thanks!

[2018-03-02 07:18] dohaivu commented on #7
Yes, the app supports 8 decimals.

[2018-03-02 07:26] vsabolc commented on #7
@senagbe
Please confirm how many decimals should be there.

Right now:
Android is showing 8 decimals, but transactions with 7 or 8 decimals can't be made. Bad Request error occurs.
iOS is showing 6 decimals. Made transaction with 8 decimals, but in the app transaction history is displayed only 6 decimals.

[2018-03-02 07:28] vsabolc commented on #4
@senagbe Also tried to test on Android studio emulators - but they do not have built-in Google Play service (I do not find it how to add easily). Please let me know how this can be tested and checked! Thanks!

[2018-03-02 07:40] vsabolc opened #20 "Android: Change the "exit" word to "logout" to match the message with iOS"
@senagbe

Steps to reproduce:
- Open the android app
- Log in
- Tap on the Profile menu
- Tap on Log Out
- The textual content should be changed to match with the iOS app https://github.com/HTMLCOIN/htmlcoin-ios/issues/6
Change the "exit" word to "logout" to match the message with iOS

![exittologout](https://user-images.githubusercontent.com/4669689/36888384-902660d2-1df5-11e8-82dc-ce7b41251596.p

[2018-03-02 07:53] vsabolc opened #21 "Android: Changed the language to German and after the first transaction attempt the app crashed"
@senagbe

Steps to reproduce:
- Open the android app
- Log in
- Open the Profile screen
- Select Language
- Select German
- Go to the Send screen
- Add an address
- Add an amount
- Tap on Send
- The Pin should be required now, but the app crashes

![stopped](https://user-images.githubusercontent.com/4669689/36888953-1168e3b6-1df8-11e8-8ef5-37c8ee1157d8.png)

[2018-03-02 08:15] vsabolc opened #22 "Android: QR code scanner"
@senagbe

Steps to reproduce:
- Open the android app
- Log in
- Tap on the QR code symbol in the upper right corner
- The QR code scanner is opened
- There are two black sections on the screen compared to the scanner
- Is this the correct behavior?

[2018-03-02 08:33] vsabolc commented on #5
German language needs to be updated:
- Wallet menu is not translated to Mein Wallet
- Activity | From is not changed to Von
- Profile | Languages | The languages are still displayed in English
- News menu is not translated (if only English news will be collected, no need to be translated)

[2018-03-02 08:45] vsabolc opened #23 "Android: Sometimes the app is not ready after unlocking the screen"
@senagbe

Steps to reproduce:
- Open the android app
- Log in
- Leave the app untouched
- Wait until the screen is locked
- Unlock the screen of the device
- Enter the PIN to the application
- "Incorrect PIN" message appears, but the correct PIN is entered

You have to be fast to reproduce this one.

[2018-03-02 09:00] vsabolc opened #24 "Android: The Transaction history is not displayed in real time"
@senagbe

Steps to reproduce:
- Open the android app
- Log in
- Make new Transactions
- Check them on the Wallet screen
- The newer transactions are not displayed always on the Activity screen
- Some of them were showed up later
- Also, after one manual refresh, one of the transactions is displayed with "-3 sec ago" timestamp

[2018-03-02 09:29] lunamonkey opened #25 "iOS : send transaction with minimum fee fails to complete"
Steps to recreate :
scan a QR code
Set up payment
Slide the fee as low as possible.
Send payment
Payment sets as unconfirmed
Wallet balance doesn’t update
Pending transaction shows in wallet

On master calls explorer. Nothing shows.

Application transaction shows id as:

639b58eb24bdf5593c2890f76ffa8cb79c3b982a0823f9bf4cdb72ddda867b4e

[2018-03-02 09:35] lunamonkey opened #26 "iOS: sending transaction amount with a comma send less funds."
Steps to recreate:

Set up a send transfer.
Choose an amount on the transfer window as over 1000
When the dialog returns to the send screen. The amount has been formatted as 1,000

Send transfer

Only 1 html is sent and received.

[2018-03-02 09:41] lunamonkey opened #27 "iOS: when choosing sending address from own addresses the balance shows as scientific mode"
Steps to recreate:
Manage addresses
Click recipient address for transfer
Set up from address as one of your own
In the list of addresses it sometimes shows the balance as scientific mode. 4.6E+5 for example.

[2018-03-02 10:01] lunamonkey opened #28 "iOS: available balance does not subtract pending balance. Available Balance is Not available to use."
Steps to recreate
Send a large payment with the fee set to the lowest.
Available balance does not update
Unconfirmed  balance shows as negative.

Attempt another high value transfer using the amount shown as available.

Error message displays showing insufficient funds when send transfer is attempted.

[2018-03-02 14:57] senagbe commented on #3
@vsabolc this once needs to be tested over time. We believe the issue is fixed but as the root cause is in the core code we will have to keep an eye on it for a bit.

[2018-03-02 14:58] senagbe commented on #4
@dohaivu can you please specify the lowest version of Google Play Services that this works with?
That way we can do a definitive test. I've been unable to trigger a Play Services update.

[2018-03-02 16:25] senagbe commented on #23
@longpham2310 please see if you can reproduce this.

[2018-03-02 16:28] senagbe commented on #24
@longpham2310 and @dohaivu can you let me know what the root cause i son this so we can see how serious it is, thanks.

[2018-03-02 16:35] senagbe commented on #5
@vsabolc I've reopened this until we fix the bugs above.

[2018-03-02 16:39] senagbe commented on #7
I believe its 8 digits, but drop insignificant bits.

[2018-03-02 16:41] #9 closed

[2018-03-02 19:10] docloulou commented on #3
HTML core from bitecore branch is also fixed ?

[2018-03-02 19:36] Bushstar commented on #3
The UTXOcache fix from Qtum is not yet applied but after the latest update the specific issue we were working on disappeared but it may reoccur again, I'm not 100% and we may need to schedule the mandatory update at some point in the future.

The Bitcore HTMLCOIN branch and the download available from download script in htmlcoincore-node/script/ have been updated to HTMLCOIN 2.0.2.0.

[2018-03-03 00:03] dohaivu commented on #24
The Transaction history is not display in real time, it's refreshed when:
- manually refresh it
- receive a notification

We still have not implemented websocket to do realtime yet.

[2018-03-03 17:49] phantomlk opened #29 "Android: Touch id setting isn't working"
Activated Touch ID setting but it doesn't working.

[2018-03-04 11:16] senagbe commented on #29
Give steps to reproduce please. Also need to know which version it is. Which device you are running it on.

[2018-03-05 11:51] vsabolc opened #30 "Android: Incorrect Passphrase was not declined, but a new account was created"
@senagbe

Steps:
- Start the latest app
- Tap on the IMPORT WALLET
- Enter a totally random text - make sure it is not a valid passphrase
- Tap on the IMPORT button when it become active
- The Create PIN page appear

This is not correct - as there was added a totally incorrect passphrase, so error message should appear and not the Create new user flow should be followed!

[2018-03-05 15:43] #25 closed

[2018-03-05 15:44] #26 closed

[2018-03-05 15:45] #27 closed

[2018-03-05 15:45] #28 closed

[2018-03-05 18:18] senagbe commented on #5
@vsabolc I which is the Wallet Menu you mentioned? I think it is can you provide a screenshot? I think "Wallet" is doesn;t need to say "My Wallet".

[2018-03-06 00:57] senagbe commented on #5
"From" is missing Korean and Chinese

[2018-03-06 02:33] longpham2310 opened #31 "Update work sans font"

[2018-03-06 02:57] longpham2310 opened #32 "Implement dark theme"

[2018-03-06 02:58] longpham2310 commented on #32
It's redundant issue.

[2018-03-06 02:58] #32 closed

[2018-03-06 05:03] #31 closed

[2018-03-06 05:14] longpham2310 commented on #19
@vsabolc I just tested on Samsung S7. It's not happened. Can you please give me more information as (OS version, device). Thanks

[2018-03-06 09:12] dohaivu commented on #30
in Bitcoinj: passphrase is invalid if it's not 12 words.
System don't know and don't care the content of it
Only the user who enters know it's correct for his wallet or not.

The system code will concatenate them into a string, use it as a password to generate binary seeds, then creating private key, public key and addresses.

If user enters invalid words, system will generate wrong keys and wrong

[2018-03-06 10:11] dohaivu commented on #24
I tested, Android does refresh app when receiving notification
iOS does not, we will fix that

Please check whether it receives notification or not. If not then wallet is not updated

[2018-03-06 15:27] vsabolc commented on #30
Tested. The system allows 12 words. Closing.

[2018-03-06 15:28] #30 closed

[2018-03-06 15:32] vsabolc commented on #20
Tested, it is fixed. Closing.

[2018-03-06 15:32] #20 closed

[2018-03-06 15:33] vsabolc commented on #3
Leaving it in Testing for some time to see is it working ok or not.

[2018-03-06 15:36] STewieH opened #33 "Android: [Feature Request] - Remove Visibility of Senders Balance"
I can see no use case for anyone needing to see the senders balance. The likelihood is I will know who is sending HTML to me and thus seeing their balance could be seen as a security risk.

[2018-03-06 15:47] STewieH opened #34 "Android: [Feature Request] Add Address Book Ability"
For mass adoption of HTML I would be love to see some kind of address book. I would like to annotate incoming addresses with names if possible. Also when sending coins, to be able to search the annotations I have made in order to retrieve the address simply and easily.

Then have an address book of all annotations that have been made with "send" option.

[2018-03-06 15:49] vsabolc commented on #19
@longpham2310 Can you make sure that you have commented the correct ticket.

[2018-03-06 15:50] STewieH opened #35 "Android: [Feature Request] - Remove Fee Slider"
I cannot understand to be honest, why there is a slider for the fee price. I believe there should be a set gas price that the user is notified of before accepting to send their coins to anyone.

[2018-03-06 15:52] vsabolc commented on #5
Yes, @senagbe You are correct - no need to be translated.
However there is another not translated string - in Activity the time stamp "7 min ago"
![time](https://user-images.githubusercontent.com/4669689/37042479-ce51f260-215e-11e8-9fa2-dbfb2ec8bdfe.png)

[2018-03-06 16:02] vsabolc commented on #5
Also another not translated string on the PIN verification page for German translation - the "try again" was not translated
![tryagain](https://user-images.githubusercontent.com/4669689/37043082-1641b2d0-2160-11e8-90ef-2f42a443c56e.png)

[2018-03-06 16:03] vsabolc commented on #21
Tested, it is working ok now. Closing.

[2018-03-06 16:03] #21 closed

[2018-03-06 16:10] STewieH opened #36 "Android: Transfer In Manage Addresses Not Working"
Steps to reproduce:

    Open the Android app
    Log in
    Manage Addresses (Top right book)
    Click and Address with no funds or with funds already
    Select an amount smaller than Balance Amount
    Set a Fee of 0.00001
    Tap on Send
    Add the Pin code
    Fee is taken and remains in "confirmation" state indefinately and money is not transferred.

[2018-03-06 22:24] GurkendiebGer commented on #5
Some things for the german translation:

- "<string name="published_by">Veröffentlich von:</string>" should be  "<string name="published_by">Veröffentlicht von:</string>"

- "<string name="not_confirmed_balance">Unbestätigte Balance</string>" should be "<string name="not_confirmed_balance">Unbestätigtes Guthaben</string>"

- "<string name="abi_doesnt_match_qrc20_standard">ABI entsprict nicht dem Q

[2018-03-07 18:50] senagbe opened #37 "Remove "shit" from the BIP39 word list"

[2018-03-08 12:16] STewieH opened #38 "Android: App Crash On Next Startup"
Android Nougat 7.0.0
Samsung Galaxy S7 Edge Vanilla

Try and open the app again after a prolonged period of not being opened from the menu and the app will crash.

(Very randomly happens)
Open App and use it
Switch to others apps and continue using them for prolonged periods
Tap HTMLCoin Wallet in menu to open app
App will crash and not run

Tombstone attached with bugreport.
https://www.dropbox.c

[2018-03-08 12:19] senagbe opened #39 "Android : Firebase Crash Reporting > Crashlytics Crash Reporting"

[2018-03-08 12:39] vsabolc opened #40 "Android: Navigating to the Wallet screen is showing for a very short period the two dots from the Activity screen"
@senagbe

Steps to reproduce:
- Open the Android app
- Log in
- Go to any screen except the Wallet screen (Profile, News, Send)
- Navigate to the Wallet screen
- Over the bottom menu (Wallet, Profile, News, Send) the two dots, the navigation option from the Activity, will be visible for a very short period

This is visible only with the light theme and not visible on the dark theme

[2018-03-08 12:59] vsabolc opened #41 "Android: Multiple taps could open multiple activity information"
@senagbe

Steps to reproduce:
- Open the Android app on Samsung S7
- Log in
- Tap on multiple times in one Transaction
- The Transaction information will be displayed at least two times
- Go back to the Wallet screen
- Tap on one transaction a short after that on the next transaction
- If you are fast enough, both of the transaction information will be displayed

Note: there is no visual problem o

[2018-03-08 13:21] vsabolc opened #42 "Android: When opening the app, it is asking for a permission, but it will be replaced/ignored by itself"
@senagbe

Steps to reproduce:
- Install the latest Android app (mainnetDebug-0.9.21.apk)
- While it is loading, media permission will be asked
- Yo have a very short period for accepting/blocking it because a new screen will be displayed instead of that
- The permission asking will be ignored
- Later when trying to open a notification, the permission will be asked again, but it will be replaced wi

[2018-03-08 13:30] vsabolc opened #43 "Android: made a transaction, the Htmlcoins never arrived, and only the fee is visible in the activity"
@senagbe

Steps to reproduce:
- Open the Android app
- Log in
- Go to the Send screen
- Add an address
- Add 66 for the amount
- Add a fee 0.21548404
- Tap on Send
- Go to the Wallet
- In the Activity, only the Fee information is displayed
- Check the Recipients wallet for the funds
- By the Recipients Wallet, no transactions have been made

[2018-03-08 13:48] vsabolc opened #44 "Android: Different messages and details are displayed for the applications"
@senagbe

Steps to reproduce:
- Open the Android and iOS app at the same time
- Log in to both
- Send different amounts of coins from one device to another
- Check the status messages on the Platforms
- The Status messages and the displayed values are different in the apps
- It has to be strictly determined what should be displayed for the status message and what to display on both devices
- Also,

[2018-03-08 15:09] vsabolc opened #45 "Android: Some thick lines are visible on the Profile page"
@senagbe

Steps to reproduce:
- Open the latest app
- Login
- Open the Profile page
- Change the Theme to the dark
- Check the Profile page
- There are some thick lines visible under Language and TouchID options - the others are normal delimiter lines.

![profilesscreen](https://user-images.githubusercontent.com/4669689/37158254-3b82177e-22eb-11e8-8f23-0fbf453ace54.png)

[2018-03-08 15:12] vsabolc opened #46 "Android - Dark Theme: About page does not have the HTMLCOIN page displayed like the light theme About page"
@senagbe

Steps to reproduce:
- Open the app
- Login
- Open the Profile page
- Make sure using the Light theme
- Open the About page
- It has the correct logo and the correct app name
- Go back and switch the theme to dark
- Open again the About page
- It has the QTUM logo and HTMLCOIN app name

![android-dark](https://user-images.githubusercontent.com/4669689/37158713-54223b50-22ec-11e8-9114-73f0

[2018-03-08 16:32] senagbe commented on #41
This is behaviour from the QTUm wallet from which this was forked. Its reasonably low priority though the behaviour doesn't seem ideal.

[2018-03-08 16:42] senagbe commented on #36
@dohaivu please get back to me about this I think I know what is happening here but I want to confirm. We'll discuss in the standup.

[2018-03-08 16:43] senagbe commented on #35
@STewieH we've only been fixing bugs up to this point. The suggestion has merit in my opinion but it'll need to be discussed. Cheers

[2018-03-08 16:54] STewieH commented on #36
Is this DUST? literally the confirmation remains as uncofirmed balanced forever and it never confirmed.

[2018-03-09 01:38] dohaivu commented on #46
dark theme is not ready to test yet
It's in progress

[2018-03-09 01:44] dohaivu commented on #42
External storage permission is required for Pushy token.
I'm still thinking where to put those code, it's not ready to test, just ignore it

[2018-03-09 01:58] dohaivu commented on #43
If there is the transaction, then the amount already transferred and stored in the network.
You don't see the transaction in Recipients wallet, it's possible that the wallet is not refreshed.

Please check if they're there when you manual refresh it.

[2018-03-09 05:32] longpham2310 commented on #45
@vsabolc The dark theme is implementing. I will assign back to you when it has done.

[2018-03-09 07:16] vsabolc commented on #18
@senagbe Can you let me know how I can test this?

[2018-03-09 07:38] vsabolc opened #47 "Android: Bad Request error appears when there is a pending transaction and I want to send one more"
@senagbe

Steps to reproduce:
- Open the Android app
- Log in
- Go to the Send screen
- Add an address
- Add an amount
- Tap on Send
- Repeat this action while the transaction is pending
- HTTP 400 Bad Request error appears
- Correct error messages should be displayed to warn and inform the user what went wrong
- Check this ticket/comment for the warning message https://github.com/HTMLCOIN/htmlcoi

[2018-03-09 07:57] vsabolc opened #48 "Android: The validation should happen before the app is asking for the PIN"
@senagbe

Steps to reproduce:
- Open the Android app
- Log in
- Tap on Send menu
- Add a valid amount
- Tap on the Send button
- The PIN will be required to continue
- Add it
- Invalid HTML Address error appears
- Let this validation happen before the app asks for the PIN

![invalidhtml](https://user-images.githubusercontent.com/4669689/37196692-14b81cf0-2378-11e8-9651-76738effe1ec.png)

[2018-03-09 08:02] vsabolc opened #49 "Android: Add feedback messages after the PIN code is successfully changed"
@senagbe

Steps to reproduce:
- Open the Android app
- Log in
- Tap on the Profile menu
- Tap on Change PIN
- Enter the old PIN
- Enter the new PIN two times
- The screen will show again the Profile
- There was no feedback message was the PIN change successful or not

[2018-03-09 08:13] vsabolc opened #50 "Android: There was no Transaction notification until it is confirmed, 2 confirmation notification arrived"
@senagbe

Steps to reproduce:
- Open the Android and the iOS app
- Log in to both
- Send coins from one to another device
- Wait for the notifications on both
- Send a new transaction from iOS to Android
- Android does not display any notification of the new Transaction, iOS device, the sender did
- Wait until it is confirmed
- On both devices two notifications arrived about the Confirmed transact

[2018-03-09 08:55] dohaivu commented on #36
@senagbe  There is no error on server. The transaction has been put on the network.
The fee is too low, I don't know what happened, just ask Peter about it

[2018-03-09 09:02] dohaivu commented on #47
The transaction history is not updated, update it before sending a new one.

[2018-03-09 09:09] dohaivu commented on #41
I tried many times, I still can't reproduce it

[2018-03-09 09:39] vsabolc opened #51 "Android: The app crashed while entering the PIN code"
@senagbe

Steps to reproduce:
- Open the latest Android app (0.9.21) on Samsung S7
- Log in
- Wait until the screen goes off
- Unlock the screen with the code
- Start entering the PIN code
- At the fifth number, the app crashes
- It can't be reproduced every time and you need to do this steps quickly

[2018-03-09 09:48] STewieH commented on #36
Is this another reason to try and remove the fee slider and just make transactions a low low fee. :D

[2018-03-09 09:52] STewieH commented on #35
Thank you. I think that the small fee error can obviously be negated if this is removed. I think just set the lowest fee the network can handle and hardcode that to all tx's in the app.

[2018-03-09 10:18] STewieH commented on #47
Possible to add a toast message for this scenario instead of a 400 error for the user at all? Letting them know to wait for the tx history to update please?

[2018-03-09 10:25] vsabolc commented on #41
I agree that this is a low priority issue. It is still reproducible:
https://app.box.com/s/89wzzr6zvkqkn0aifdsimko2labgoa1x

[2018-03-09 10:32] vsabolc commented on #38
The only thing what I noticed is the crash with the PIN. The app all by itself does not crashes at my side.

[2018-03-09 10:47] vsabolc opened #52 "Android: The blocked login could be escaped by re-importing the same wallet"
@senagbe

Steps to reproduce:
- Open the Android app
- Tap on Login
- Enter incorrect PIN three times
- Try to log in again
- An error message appears and the login is blocked
- Re-install the app
- Tap on Import Wallet
- Import the same wallet
- New PIN is required

[2018-03-09 11:29] dohaivu opened #53 "Android: Update default min fee to 0.1"
Currently default is is 0.0001, it's very small. Sometime transactions can't be confirmed with this fee.
Increase min fee to 0.1 to make sure transactions are confirmed

[2018-03-09 11:43] senagbe commented on #39
@senagbe is enabling crashlytics.
@longpham2310 and @dohaivu please make sure of graceful fallback on non-Play Services Devices.

[2018-03-09 11:44] vsabolc opened #54 "Android: Two different notification icon arrives with the notifications"
@senagbe

Steps to reproduce:
- Open the Android app
- Log in
- Make several transactions
- Send different transactions from another device to this one
- Check the arrived notifications
- Two types of notification icon are displayed

![htmlicon](https://user-images.githubusercontent.com/4669689/37206145-c61fae76-2397-11e8-8b9e-c2e762cc471b.png)

[2018-03-09 12:36] vsabolc commented on #53
Tested. It is updated.

[2018-03-09 12:38] senagbe commented on #18
@vsabolc

- [ ] Test that you still receive push when using a device without Play Services installed.
- [ ] Test that if you use a PLay Services capaable deveice but block (on the network) access to google you still receive push.
- [ ] Test that when you re-enable Play Service access on a device that has been unable to reach it Push continues to work
- [ ] Test that non-Play Services devices do no

[2018-03-09 12:42] vsabolc commented on #38
Tested. The same issue does not appear.

[2018-03-09 13:08] vsabolc opened #55 "Android: IMPORTANT - After the screen lock, I was able to operate in the app without PIN code"
@senagbe

Steps to reproduce:
- Open the Android app in Samsung S7 (7.0)
- Log in
- Send/Receive several Transaction
- View different screen
- Open notifications
- Lock the screen
- Use the phone again
- Now, the PIN code should be asked, but I can just open the application
- The PIN code is not required
- Restart the app
- The PIN code will be required again
- I was not managed to reproduce the s

[2018-03-09 13:16] vsabolc commented on #43
Today, I discovered that this behavior will be present if I send a Transaction to myself.

[2018-03-09 13:32] vsabolc commented on #55
The issue is device specific for sure because it occurs a lot. One more scenario is when the login is blocked for 10 mins. If this issue occurs (yes, it occurred even in that state) by the time when the Login should be blocked 10 min, the user will be able without login to operate with the app.

[2018-03-09 15:16] senagbe opened #56 "Android : Transport Security"
Implement pinning/validation using TrustKit for pass through to platform implementation post Nougat.
@dohaivu we'll discuss this in Slack.

[2018-03-09 15:17] senagbe commented on #56
@emtunc here's the mention so you can see ;)

[2018-03-09 16:21] vsabolc opened #57 "Wallet page layout will be incorrect if the Activity list is scrolled to the bottom"
@senagbe

Steps to reproduce:
- Open the app on Sony Xperia X - Android 8.0
- Login
- Be sure you are on the Wallet tab
- Scroll the Activity list to the bottom
- Check the top of the page - the info is cut off, not visible correctly - check the screenshot.

![activityscrolled-headercutoff](https://user-images.githubusercontent.com/4669689/37217779-bdbd7e58-23be-11e8-82f1-70958fefb54c.png)

[2018-03-09 17:36] senagbe commented on #49
I'd suggest a SnackBar for this as it shoudln't interrupt the user.

[2018-03-09 17:39] senagbe commented on #50
@dohaivu and @longpham2310 you can you comment on this please?

[2018-03-09 17:41] senagbe commented on #51
We'll try and reproduce this.

[2018-03-09 17:43] senagbe commented on #52
@vsabolc this doesn;t sound like an error to me since if you have the restore password you should be able restore?

[2018-03-09 17:50] senagbe commented on #55
@longpham2310 we will need to test this specifically on the S7

[2018-03-09 17:56] senagbe commented on #41
Ok, we'll leave this until there isn't much to do.

[2018-03-09 17:58] senagbe commented on #43
I'm de-scheduling this for now as it only happesn when you send to yourself.

[2018-03-09 17:59] #38 closed

[2018-03-09 17:59] #53 closed

[2018-03-09 18:00] #15 closed

[2018-03-09 18:01] #1 closed

[2018-03-09 18:01] #6 closed

[2018-03-09 18:02] #8 closed

[2018-03-11 17:04] senagbe commented on #42
@dohaivu is this ready for testing?

[2018-03-11 17:05] #37 closed

[2018-03-11 17:12] senagbe commented on #29
@longpham2310 , in the absence of any information from @phantomlk could you please check and let me know if fingerprint authentication is working on Android in your opinion. If it isn't, please fix.

[2018-03-11 17:22] senagbe opened #58 "Support QR Codes without labels"
Android exhibits the same issue with QR codes which do not contain labels as seen in https://github.com/HTMLCOIN/htmlcoin-ios/issues/37 from @lunamonkey the details of which were found by various members of internal test as well as @dohaivu during dev testing. It's amrked as an enhancement as it appears to have been by design or omission on the part of the QTum guys.

[2018-03-12 07:05] longpham2310 commented on #58
@senagbe I checked it for the Android version. It doesn't happen. It only happens on the iOS version (HTMLCOIN/htmlcoin-ios#37).
- I also checked the Android code. It doesn't require labels.

[2018-03-12 07:20] lunamonkey commented on #58
Is it possible another field is throwing the error? Message or Amount?

The testers were reporting Bleutrade QRs as failing on Android.

[2018-03-12 08:17] longpham2310 commented on #22
@vsabolc Can you give me more information as the Android version, device. I have tested on our Samsung S7 but it doesn't happen.
![screenshot_20180312-151409](https://user-images.githubusercontent.com/2587012/37272166-6d6efb38-2608-11e8-9abd-4ee3f81eea7a.png)

[2018-03-12 08:23] senagbe commented on #58
@longpham2310 can you support raw addresses please.

[2018-03-12 08:29] longpham2310 commented on #58
@senagbe I did it.

[2018-03-12 09:24] vsabolc commented on #22
@longpham2310  Sure I will test it later today on Sony Xperia X (Android 8) and on Samsung S4 (Android 5.1)

[2018-03-12 09:36] longpham2310 commented on #29
@senagbe I don't think it is a bug.

[2018-03-12 10:25] senagbe commented on #33
@STewieH screenshot and describe exactly what you are proposing, please.

[2018-03-12 11:59] STewieH commented on #33
![current](https://user-images.githubusercontent.com/16029296/37282535-afc7512c-25ec-11e8-8bcb-84caa6022242.png)
![suggestion](https://user-images.githubusercontent.com/16029296/37282536-afddf878-25ec-11e8-8253-6d64471fa04c.png)

This could be a simple solution. Just remove the field's showing senders balance.

[2018-03-12 12:18] dohaivu opened #59 "Android: disable auto backup"
Do not allow Android system to backup keys automatically.
It will make the app crash or work incorrectly.

[2018-03-12 13:39] senagbe opened #60 "Reduce release debugging level"
Release version should only log errors.

[2018-03-12 13:42] senagbe opened #61 "Check locations of sensitive data"
Make sure sensitive data is not being stored in easily accessible device storage.
Preferences
SD unencrypted

[2018-03-12 13:53] senagbe commented on #33
@STewieH and @lunamonkey have hidden this for now. Lets see how testers respond.

[2018-03-12 13:56] senagbe commented on #33
@vsabolc please look a thtis as well though it is not in official testing.

[2018-03-12 13:59] STewieH commented on #33
Thank you

[2018-03-12 14:28] vsabolc commented on #59
@senagbe How can be this retested?

[2018-03-12 14:33] vsabolc commented on #45
Leaving in the Testing column and will be retested after the Dark theme implementation is done.

[2018-03-12 15:11] vsabolc commented on #33
@senagbe  It looks ok.

[2018-03-12 15:14] vsabolc commented on #58
@senagbe I have tested it and it looks ok. Can be closed.

[2018-03-12 15:27] vsabolc commented on #42
@senagbe There is no permission asked on the app start, only after tap on the QR code scanner. I think it is ok now. Can be closed.

[2018-03-12 15:31] senagbe commented on #42
@dohaivu and @vsabolc that probably needs to be dealt with during the main activity creation.

However only in the case that the permission has not been requested yet. So a secondary check when creating the main Activity so as to avoid the obscuring the permission dialog as is currently the case.

What do you think @dohaivu

[2018-03-12 15:32] vsabolc opened #62 "The keyboard is still displayed after the PIN number is entered and the Send verification is done"
@senagbe

Steps to reproduce:
- Open the latest Android app
- Open the Send page
- Add Address and add value
- Tap on the Send button
- PIN confirmation popup will appear
- The Keyboard will be displayed as well
- Enter PIN and it will be verified
- Transaction successful popup will appear
- Tap on OK
- The empty SEND page will stay displayed together with the keyboard - this looks bad hides a big

[2018-03-12 15:46] vsabolc opened #63 "Android 8: The device does not receive push notifications about the Transfers"
@senagbe

Made the testing on an old phone Samsung S4 - Android 5.0.1 and on Android 8.0 (Sony Xperia X)

The Android 8.0 device does not receive push notifications at all if the application is running.

The Android 5.0.1 device does receive push notifications even if the app is running!

The behavior should be the same on all Android versions.

[2018-03-12 15:49] vsabolc commented on #18
This is still under testing.

[2018-03-12 16:28] vsabolc commented on #22
@longpham2310  I have checked the app(version 0.9.24) on Samsung S4 (Android 5.0.1) and on Sony Xperia X (Android 8.0) and the reported issue is still present - check the screenshot

![sonyxperiax-android8](https://user-images.githubusercontent.com/4669689/37296271-bac7ba48-261a-11e8-972b-63080b20bbb9.png)

[2018-03-12 16:29] vsabolc commented on #18
@senagbe Made testing on Samsung S4 - totally blocked the Play service and there were no push notifications at all!

[2018-03-12 19:23] senagbe commented on #63
@vsabolc can you clarify please?

?

[2018-03-12 19:25] vsabolc commented on #63
@senagbe Yes, the Samsung S4 (Android 5.0.1) received the notification even if the app was on the screen - the notification appeared at top in the task bar for sent and for approved transaction as well!

[2018-03-12 19:26] #58 closed

[2018-03-12 19:31] senagbe commented on #59
I'll deal with this.

[2018-03-12 19:33] senagbe commented on #33
It doesn't look like the whole address is being show to me. Leave this in testing and I will inspect when I have a moment.

[2018-03-12 19:34] senagbe commented on #18
@dohaivu we need to check this comprehensively.

[2018-03-12 19:35] #59 closed

[2018-03-13 02:17] longpham2310 commented on #63
@senagbe It should behave the push notification during the app launch. Because If we don't show it. The user doesn't know there is a new transaction event coming.
- Let me investigate why the push doesn't show up on Android 8.

[2018-03-13 10:36] dohaivu commented on #42
Now it does not request on the app start. It check & request before creating Pushy token, in the pin activity.

[2018-03-13 17:57] senagbe opened #64 "Correct Medium Address"
https://medium.com/@HTMLCOIN/

[2018-03-13 18:30] senagbe opened #65 "News is not translated correctly in Chinese "Novidades""
Missing a translation fro News and instead of defaulting to English it is "Novidades"

[2018-03-13 22:03] lunamonkey opened #66 "Small QR code on smaller phone. LG VS425PP (the Zone3)"
The QR code: it is very small in height on this phone.

[2018-03-13 22:03] lunamonkey commented on #66
![cf1c49f5-7060-4970-a57a-b617f010d806](https://user-images.githubusercontent.com/5434018/37372355-5ac164be-270a-11e8-9d69-229dd16b4795.jpeg)

[2018-03-14 00:05] senagbe opened #67 "Android : Switch QRC20 references to HRC20"

[2018-03-14 08:13] longpham2310 opened #68 "Update min fee to 0.1"

[2018-03-14 20:06] lunamonkey opened #69 "Android: Minor corrections in Danish language"
Feedback from user:

"Hey Julia, i've tested the beta version of htmlcoin wallet. I saw some minor correction needed for Danish language. Is it possible if i can correct some of the translated words, before the launch of the official wallet?"

"Min wallet" should be "Min tegnebog"

"Modtager's adresse" should be "Modtagers adresse"

"Kopier wallet adresse" should be "Kopier tegnebog adresse"

"Wal

[2018-03-15 02:36] longpham2310 commented on #68
It duplicated. Should move to iOS repository.

[2018-03-15 02:36] #68 closed

[2018-03-15 02:48] dohaivu commented on #56
@senagbe
TrustKit exception
[code]

OkHttp throws this exception: https://square.github.io/okhttp/3.x/okhttp/okhttp3/CertificatePinner.html
[code]

[2018-03-15 03:37] dohaivu commented on #61
Seed phrases for wallet is encrypted by pin number and stored in SharedPreferences.
Android backup is disabled, so it's clear on uninstalling
Realm database is stored internally in app data directory

[2018-03-15 04:15] dohaivu commented on #52
Yes, import wallet always requires a new pin to secure the new wallet.

[2018-03-15 06:45] lunamonkey opened #70 "Android. Cannot send whilst transaction is pending."
I am unable to submit a htmlcoin transaction (send) if a previous outgoing transaction is still pending confirmation.

Pre-Requisites
Wallet has sufficient funds to cover the transfer amount and fees for two (or more) unique transactions
1 (or more) htmlcoin receiving addresses

Attempt to submit two Send transactions, one immediately after the other.
1. click Send button on lower right
2. Input R

[2018-03-15 08:31] #70 closed

[2018-03-15 08:31] lunamonkey commented on #70
Dupe

[2018-03-15 08:40] dohaivu commented on #51
I tried many times but I can't reproduce it.

[2018-03-15 08:42] dohaivu commented on #50
I tested it, notifications still works fine.

[2018-03-15 18:59] senagbe opened #71 "Android : logout button label is misleading"

[2018-03-16 03:13] longpham2310 opened #72 "Remove unused fonts"
We should remove to make sure we don't use it anywhere in the app.

[2018-03-16 04:33] dohaivu commented on #71
As discussion, I will disable logout function.

[2018-03-16 06:01] dohaivu commented on #45
It's implemented

[2018-03-16 06:18] longpham2310 commented on #40
@vsabolc It is fixed.

[2018-03-16 08:28] dohaivu commented on #62
It's fixed

[2018-03-16 10:39] longpham2310 commented on #55
I was tested. It's a bug in handle notification flow. We will fix it.

[2018-03-16 12:05] vsabolc commented on #62
Tested. It is fixed.

[2018-03-16 12:05] #62 closed

[2018-03-16 12:06] vsabolc commented on #61
Tested. It is changed successfully.

[2018-03-16 12:08] vsabolc commented on #48
Tested. It is fixed.

[2018-03-16 12:08] #48 closed

[2018-03-16 12:09] vsabolc commented on #40
Tested. It is fixed.

[2018-03-16 12:09] #40 closed

[2018-03-16 12:13] vsabolc opened #73 "Android: The second post does not look good on the News screen"
@senagbe

Steps to reproduce:
- Open the latest Android app
- Log in
- Go to the News screen
- The publishing date is not divided from the Post title

[2018-03-16 12:15] vsabolc commented on #72
It looks like the unneeded fonts were removed.

[2018-03-16 12:19] vsabolc commented on #65
It has been changed to the English version.

[2018-03-16 12:21] vsabolc commented on #54
Tested. The issue has been fixed.

[2018-03-16 12:21] #54 closed

[2018-03-16 12:28] vsabolc commented on #57
Tested. It is fixed.

[2018-03-16 12:28] #57 closed

[2018-03-16 13:42] vsabolc commented on #60
@senagbe Please let me know how I can test this. Thanks!

[2018-03-16 15:13] vsabolc opened #74 "Android: Push notification logo is incorrect"

[2018-03-16 16:55] senagbe commented on #60
@vsabolc you need to attach via USB and make sure that only errors show up in the Log from the Wallet Application

[2018-03-20 14:49] senagbe commented on #71
Changed for the English translation.

[2018-03-21 02:32] longpham2310 opened #75 "android.support.design.widget.BottomNavigationView.getVisibility()' on a null object reference"
Fatal Exception: java.lang.RuntimeException
Unable to start activity ComponentInfo{com.htmlcoin.wallet.app/org.qtum.wallet.ui.activity.main_activity.MainActivity}: java.lang.NullPointerException: Attempt to invoke virtual method 'int android.support.design.widget.BottomNavigationView.getVisibility()' on a null object reference
android.app.ActivityThread.performLaunchActivity
Caused by java.lang.Nu

[2018-03-21 03:14] longpham2310 opened #76 "Crash in getHistory"
Fatal Exception: java.lang.RuntimeException
Unable to resume activity {com.htmlcoin.wallet.app/org.qtum.wallet.ui.activity.main_activity.MainActivity}: java.lang.NullPointerException: Attempt to invoke interface method 'java.util.Iterator java.lang.Iterable.iterator()' on a null object reference
android.app.ActivityThread.performResumeActivity
Caused by java.lang.NullPointerException
Attempt to in

[2018-03-21 03:56] dohaivu opened #77 "Null on generateKeyPair"
Fatal Exception: java.lang.NullPointerException
Attempt to invoke interface method 'int android.security.IKeystoreService.del(java.lang.String, int)' on a null object reference

[2018-03-21 04:09] dohaivu opened #78 "IllegalStateException on AlertDialog"
[code]

[2018-03-21 04:28] dohaivu commented on #74
Notification requires an transparent icon, which we don't have yet. We need to ask designer to do it.
https://developer.android.com/guide/practices/ui_guidelines/icon_design_status_bar.html

[2018-03-21 06:01] longpham2310 opened #79 "Apply new design for token subscription"
- [ ] Light theme
- [ ] Dark theme

[2018-03-22 09:57] lunamonkey opened #80 "App crashes on start using Lineage."
It's crashing with an Java Keystore Exception when clicking on "Create Wallet".

https://en.m.wikipedia.org/wiki/LineageOS

[2018-03-22 10:41] longpham2310 opened #81 "Correct templates contracts path"

[2018-03-23 09:59] dohaivu opened #82 "Android: implement smart contract, token"

[2018-03-26 02:31] longpham2310 opened #83 "Other token screen"
![screenshot_20180326-092923](https://user-images.githubusercontent.com/2587012/37884085-76d13882-30d8-11e8-85b5-b86f559b4d3c.png)
![screenshot_20180326-095926](https://user-images.githubusercontent.com/2587012/37885486-ae6d52d8-30df-11e8-8e57-783c968f8fc3.png)

[2018-03-26 05:01] longpham2310 commented on #83
@senagbe We don't have the design for these screens. Can you please let me know what should we do?

[2018-03-26 09:12] longpham2310 opened #84 "Disable contact button on the top bar in Token Name screen"
That button has no action. We should disable it for now.

[2018-03-26 10:05] longpham2310 commented on #23
I can't reproduce this issue.

[2018-03-27 03:31] longpham2310 opened #85 "Missing screens design"
- [ ] Token List, Token Name (Token details). Look at `token_0` and `token_1`
![token_0](https://user-images.githubusercontent.com/2587012/37945338-ec806b9e-31a9-11e8-9fe5-75eb46e9a4e6.png)
![token_1](https://user-images.githubusercontent.com/2587012/37945339-ecb65f6a-31a9-11e8-9894-ba3560450750.png)

- [ ]

[2018-03-27 03:48] longpham2310 opened #86 "Missing assets"
- [ ] **Profile screen**
- [ ] **Smart Contracts**
- [ ] **Backup Contract**
- [ ] **Transaction History** The icons for 3 states: ***Sent*, **Received**, **Unconfirmed**

[2018-03-27 10:02] longpham2310 opened #87 "Disable edit on smart contract parameters title"

[2018-03-30 09:40] dohaivu opened #88 "News crash due to format change"
News screen throws exception due to changed format

[code]

[2018-03-30 09:48] #88 closed

[2018-04-02 02:35] dohaivu opened #89 "Number parsing error"
[code]

[2018-04-02 02:36] #89 closed

[2018-04-11 06:41] vsabolc commented on #19
Tested. It has been applied.

[2018-04-11 06:48] vsabolc commented on #46
Tested. It is fixed.

[2018-04-11 06:48] #46 closed

[2018-04-11 06:49] vsabolc commented on #45
Tested. It is fixed.

[2018-04-11 06:49] #45 closed

[2018-04-11 07:16] vsabolc commented on #55
Tested. It is fixed.

[2018-04-11 07:16] #55 closed

[2018-04-11 07:31] vsabolc opened #90 "Android: The link is missing from the "Go download it now!" textual content"
@senagbe

Steps to reproduce:
- Open the Android app
- Log in
- Go to the News screen
- Tap on the News article from 22nd March
- Compare it with the iOS app and with the Medium article
- The link is missing from the "Go download it now!" textual content

[2018-04-11 10:21] vsabolc opened #91 "Android: If the Wallet screen is refresh with the dark theme, Unconfirmed Balance section appears"
@senagbe

Steps to reproduce:
- Open the Android app
- Log in
- Refresh the screen
- Only the Available Balance is visible
- Change the theme
- Refresh the Wallet screen
- Unconfirmed Balance has appeared as well

![unconfirmed](https://user-images.githubusercontent.com/4669689/38611014-e05b88c8-3d82-11e8-9735-81630522b92f.png)

[2018-04-11 11:25] vsabolc opened #92 "Android: Not all the addresses were displayed the coin value"
@senagbe

Steps to reproduce:
- Open the Android app
- Log in
- Tap on the Manage Address icon
- Check the displayed Balances
- Not all the displayed addresses have coin balance displayed

![balances](https://user-images.githubusercontent.com/4669689/38613975-e445ef56-3d8b-11e8-8698-f5b3d2a0fa53.png)

[2018-04-11 11:38] vsabolc commented on #63
It is working ok now. Closing.

[2018-04-11 11:38] #63 closed

[2018-04-11 11:40] vsabolc commented on #3
So far it looks ok!

[2018-04-11 11:56] vsabolc opened #93 "Android: The app crashed after tapping on the "Tap to save the file" option"
@senagbe

Steps to reproduce:
- Open the Android app (on Samsung S7)
- Log in
- Go to the Profile screen
- Tap on Smart Contracts
- Tap on Backup Contracts
- Tap on the "Tap to save the file" option
- The app crashed

[2018-04-11 12:10] vsabolc opened #94 "Android: The News Articles data is more accurate on iOS devices"
@senagbe

Steps to reproduce:
- Open the Android app
- Log in
- Go to the News screen
- Check it
- In the iOS app, not only the date, but the time is displayed at the Articles
- At the Publishing time to the Android app as well

[2018-04-11 12:11] vsabolc commented on #18
@senagbe Still no push notifications on Android device with uninstalled or force stopped Google Play Service - after it was enabled again all notifications arrived at once.

Not working ok.

[2018-04-11 14:07] vsabolc opened #96 "Android 8: App will crash after tap on the Backup button on the Backup Contract"
@senagbe

####Steps to reproduce:
- Open the Android app - Sony Xperia X - Android 8.0
- Tap on Profile
- Tap on Smart Contacts
- Tap on Backup Contracts
- Tap on the displayed icon
- App will crash every time

![android-crashaftertaponicon](https://user-images.githubusercontent.com/4669689/38622251-0b51d490-3da3-11e8-9c25-ec7c788211af.png)

[2018-04-11 15:02] vsabolc opened #97 "Android app will crash after tap on some Activity logs(Contracts related one)"
@senagbe

#### Steps to reproduce:
- Open the Android app
- Open Profile
- Open Smart Contracts
- Create new Contracts under Templates
- Add Contract and Token under Watch menus
- Go to the Wallet - main screen
- Refresh the Activity list
- Tap on the latest one
- The app will crash immediately

![android-activity](https://user-images.githubusercontent.com/4669689/38625530-fb5784c4-3daa-11e8-9082-

[2018-04-11 15:02] vsabolc opened #98 "Cannot make transaction using my own created currency"

[2018-04-12 09:06] senagbe commented on #91
@longpham2310 dark theme should be disabled.

[2018-04-12 09:13] senagbe commented on #67
@longpham2310 and @dohaivu I thought I'd done this but it looks like I haven't.

[2018-04-13 03:10] dohaivu commented on #91
Disabled dark theme

[2018-04-13 04:42] longpham2310 commented on #87
done

[2018-04-13 04:42] #87 closed

[2018-04-13 04:45] longpham2310 commented on #81
done

[2018-04-13 04:45] #81 closed

[2018-04-13 04:47] longpham2310 commented on #83
done

[2018-04-13 04:47] #83 closed

[2018-04-17 03:02] #82 closed

[2018-04-17 04:06] longpham2310 opened #99 "Show full address in token details screen"

[2018-04-19 12:19] vsabolc commented on #92
Tested. It is fixed.

[2018-04-19 12:19] #92 closed

[2018-04-19 12:32] vsabolc commented on #91
It is disabled. Cannot reproduce.

[2018-04-19 12:32] #91 closed

[2018-04-19 12:42] vsabolc opened #100 "Android: The language list is displayed without any sorted order"
@senagbe

Steps to reproduce:
- Open the latest Android app
- Log in
- Go to Profile
- Go to Language
- The language list is displayed without any sorting order

[2018-04-19 13:34] vsabolc commented on #96
The same crash is still present with the above mentioned steps on the app: 0.9.43 Mainnet

[2018-04-19 14:10] vsabolc commented on #97
Tested, it is ok now. Closing!

[2018-04-19 14:48] vsabolc opened #102 "Android: Balanceof Function does not work - cannot add Owner address"

[2018-04-20 13:16] vsabolc opened #104 "Android: The calls were not handled and registered as actions"
@senagbe

Steps to reproduce:
- Open the Android app
- Log in
- Use the app
- Call the phone (cellular call)
- You can dismiss or accept the call
- The app is untouched like nothing happened
- The PIN code is not required

[2018-04-20 14:10] vsabolc commented on #96
@senagbe Tested on the latest Android build and on the Android 8 and it is ok now - crash is not present anymore! Closing.

[2018-04-20 14:10] #96 closed

[2018-04-20 14:10] vsabolc commented on #97
@senagbe Tested on the latest Android build and on the Android 8 and it is ok now - crash is not present anymore! Closing.

[2018-04-20 14:10] #97 closed

[2018-04-20 14:17] vsabolc opened #105 "I have created new tokens, set Initial supply at least 10000 and after it was confirmed my initial supply is 1 and available balance is zero"

[2018-04-30 21:54] fkfk opened #107 "What is the software license?"
I'd like to fork this software, but it seems license is missing.
What is the software license?

[2018-05-12 20:48] HTMLBunker commented on #3
I got this issue today.

[2018-05-12 21:18] HTMLBunker commented on #3
@dohaivu a user is having the same problem on this address https://api.htmlcoin.com/api/addrs/HjGMoDj2qSpxjTyBJw4a1xM5gFHVgmZ135/utxo .

[2018-05-16 05:44] HTMLBunker commented on #3
Solved. The found that the sender address had -100 HTML of balance ( yes, negative balance ) . We sent to that wallet this ammount and everything goes right now.